<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/Content/reset.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css" media="all">
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" media="all">
    <script type="text/javascript" src="~/Script/jquery-1.4.2.js"></script>
    <script type="text/javascript" src="~/Script/cufon-yui.js"></script>
    <script type="text/javascript" src="~/Script/cufon-replace.js"></script>
    <script type="text/javascript" src="~/Script/Myriad_Pro_600.font.js"></script>
</head>
<body id="page1">
    <div class="extra">
        <div class="main">
            <!-- header -->
            <header>
                <div class="wrapper">
                    <h1><a href="index.html" id="logo">Around the World</a></h1>
                    <div class="right">
                        <div class="wrapper">
                            <form id="search" action="" method="post">
                                <div class="bg">
                                    <input type="submit" class="submit" value="">
                                    <input type="text" class="input">
                                </div>
                            </form>
                        </div>
                        <div class="wrapper">
                            <nav>
                                <ul id="top_nav">
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Log In</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul id="menu">
                        <li><a href="/Home/index" class="nav1">Home</a></li>
                        <li><a href="/Home/About" class="nav2">About Us </a></li>
                        <li><a href="/Home/Tours" class="nav3">Our Tours</a></li>
                        <li><a href="/Home/Destinations" class="nav4">Destinations</a></li>
                        <li class="end"><a href="/Home/Contacts" class="nav5">Contacts</a></li>
                    </ul>
                </nav>
                <article class="col1">
                    <ul class="tabs">
                        <li><a href="#" class="active">Flight</a></li>
                        <li><a href="#">Hotel</a></li>
                        <li><a href="#">Car</a></li>
                        <li class="end"><a href="#">Cruise</a></li>
                    </ul>
                    <div class="tabs_cont">
                        <form id="form_1" action="" method="post">
                            <div class="bg">
                                <div class="wrapper">
                                    <div class="radio">
                                        <input type="radio" name="name1" checked>Round trip
                                    </div>
                                    <div class="radio"><input type="radio" name="name1">One way</div>
                                </div>
                                <a href="#">Multiple destinations</a>
                                <div class="wrapper"><input type="text" class="input">From</div>
                                <div class="wrapper"><input type="text" class="input">To</div>
                                <div class="wrapper check_box"><input type="checkbox" checked><a href="#">Search nearby airports</a></div>
                                <div class="wrapper"><input type="text" class="input input2" value="04/11/2010" onblur="if(this.value=='') this.value='04/11/2010'" onfocus="if(this.value =='04/11/2010' ) this.value=''">Depart (mm/dd/yy)</div>
                                <div class="wrapper pad_bot1"><input type="text" class="input input2" value="04/11/2010" onblur="if(this.value=='') this.value='04/11/2010'" onfocus="if(this.value =='04/11/2010' ) this.value=''">Return  (mm/dd/yy)</div>
                                <div class="wrapper">
                                    <div class="radio"><input type="radio" name="name2" checked>Economy cabin</div>
                                    <div class="radio end"><input type="radio" name="name2">Business</div>
                                </div>
                                <div class="wrapper pad_bot1">
                                    <a href="#" class="button" onclick="document.getElementById('form_1').submit()">Search</a>
                                    Audlts <select><option>1</option></select>
                                </div>
                            </div>
                        </form>
                    </div>
                </article>
                <article class="col1 pad_left1">
                    <div class="text">
                        <img src="~/images/text1.jpg" alt="">
                        <h2>The Best Offers</h2>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
                        <a href="#" class="button">Read More</a>
                    </div>
                </article>
                <div class="img"><img src="~/images/img.jpg" alt=""></div>
            </header>
            <!-- / header -->
            <!-- content -->
            @RenderBody()
            <!-- / content -->
        </div>
        <div class="block"></div>
    </div>
    <div class="body1">
        <div class="main">
            <!-- footer -->
            <footer>
                Website template designed by <a href="http://www.templatemonster.com/" target="_blank" rel="nofollow">www.templatemonster.com</a><br>
                3D Models provided by <a href="http://www.templates.com/product/3d-models/" target="_blank" rel="nofollow">www.templates.com</a>
            </footer>
            <!-- / footer -->
        </div>
    </div>
    <script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
